GOREST_APP_NAME=
GOREST_APP_ENVIRONMENT=

GOREST_SERVER_HOST=
GOREST_SERVER_PORT=
GOREST_SERVER_READ_TIMEOUT=1
GOREST_SERVER_WRITE_TIMEOUT=
GOREST_SERVER_IDLE_TIMEOUT=
GOREST_SERVER_SHUTDOWN_TIMEOUT=

GOREST_DATABASE_HOST=
GOREST_DATABASE_PORT=
GOREST_DATABASE_USER=
GOREST_DATABASE_PASSWORD=
GOREST_DATABASE_NAME=
GOREST_DATABASE_SSL_MODE=
GOREST_DATABASE_MAX_CONNECTIONS=
GOREST_DATABASE_MIN_CONNECTIONS=
GOREST_DATABASE_MAX_CONN_LIFETIME=
GOREST_DATABASE_MAX_CONN_IDLE_TIME=
GOREST_DATABASE_HEALTH_CHECK_PERIOD=

GOREST_AUTH_ACCESS_TOKEN_SECRET=
GOREST_AUTH_REFRESH_TOKEN_SECRET=
GOREST_AUTH_ACCESS_TOKEN_TTL=
GOREST_AUTH_REFRESH_TOKEN_TTL=
GOREST_AUTH_ISSUER=
GOREST_AUTH_BCRYPT_COST=
GOREST_AUTH_COOKIE_SECURE=false
GOREST_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://flourish.localhost

GOREST_LOGGER_LEVEL=
GOREST_LOGGER_FORMAT=
GOREST_LOGGER_ADD_SOURCE=
